/* base.css*/
body {
    background-color: #f5f0f0;
}

main { margin-top: 110px;

}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

.header-container {
  display: flex; /* Use flexbox to create a flex container */
    justify-content: space-between; /* Distribute items along the main axis (horizontally) */
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    border-bottom: 2px solid #e7e7e7;
}

/* CSS to resize and align images */

.header-left img {
  height: 100px;
}
.header-right img {
  height: 100px;
}

.header-center-top {
  width: 100%;
  text-align: left;
  vertical-align: middle;
  padding-left: 10px;

}

.header-center-bottom {
  width: 100%;
  text-align: left;
  vertical-align: middle;
  padding-left: 10px;
  background-color: rgb(192, 104, 104);
}

.header-center-bottom a {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding-inline: 5px;
}

