body {
    background-color: #f5f0f0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
    font-family: 'Courier New', Courier, monospace;
}

/* CSS to resize and align images */
.adnoc-logo-container, .btme-logo-container {
  display: inline-block;
  vertical-align: middle; /* Vertically align the images within their containers */
}

.adnoc-logo-container img, .btme-logo-container img {
  max-width: 100%; /* Ensure the image does not exceed the container width */
  height: auto; /* Maintain aspect ratio and adjust height accordingly */
}

/* Additional CSS to control header layout */
header {
  text-align: center; /* Center the logos horizontally within the header */
}

.adnoc-logo-container {
  float: left; /* Float the ADNOC logo to the left */
}

.btme-logo-container {
  float: right; /* Float the BTME logo to the right */
}

